<div class="filters">
  <div class="filters__group">
    <label class="filters__label" for="nameFilter">Filter by Name:</label>
    <input
      class="filters__input"
      type="text"
      id="nameFilter"
      [(ngModel)]="nameFilter"
      placeholder="Enter name"
    />
  </div>

  <div class="filters__group">
    <label class="filters__label" for="categoryFilter"
      >Filter by Category:</label
    >
    <select
      class="filters__select"
      id="categoryFilter"
      [(ngModel)]="selectedCategory"
    >
      <option class="filters__option" value="">All Categories</option>
      @for (category of categories; track $index) {
      <option class="filters__option" [value]="category.name">
        {{ category.name }}
      </option>
      }
    </select>
  </div>

  <button class="filters__button" (click)="onApplyFilers()">
    Apply Filters
  </button>
</div>
