<div class="filters">
  <div class="filters__group">
    <label class="filters__label" for="nameFilter"></label>
    <input
      class="filters__input"
      type="text"
      id="nameFilter"
      [(ngModel)]="nameFilter"
      placeholder="Nombre Articulo..."
      (change)="onNameFilter()"
    />
  </div>

  <div class="filters__group">
    <label class="filters__label" for="categoryFilter"></label>
    <select
      (change)="onCategoryFilter()"
      class="filters__select"
      id="categoryFilter"
      [(ngModel)]="selectedCategory"
    >
      <option class="filters__option" value="">Todos las Categorías</option>
      @for (category of categories; track $index) {
      <option class="filters__option" [value]="category.name">
        {{ category.name }}
      </option>
      }
    </select>
  </div>
</div>
