<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form__group">
    <label for="title" class="form__label">Title:</label>
    <input
      formControlName="title"
      type="text"
      id="title"
      name="title"
      class="form__input"
      required
    />
    @if (form.get('title')?.invalid && form.get('title')?.touched) {
    <small class="form__error">Title is required and must be valid.</small>
    }
  </div>

  <div class="form__group">
    <label for="text" class="form__label">Text:</label>
    <textarea
      formControlName="text"
      id="text"
      name="text"
      class="form__textarea"
      rows="4"
      required
    ></textarea>
    @if (form.get('text')?.invalid && form.get('text')?.touched) {
    <small class="form__error">Text is required and must be valid.</small>
    }
  </div>

  <div class="form__group">
    <label for="author" class="form__label">Author:</label>
    <input
      formControlName="author"
      type="text"
      id="author"
      name="author"
      class="form__input"
      required
    />
    @if (form.get('author')?.invalid && form.get('author')?.touched) {
    <small class="form__error">Author is required and must be valid.</small>
    }
  </div>

  <div class="form__group">
    <label for="imageUrl" class="form__label">Image URL:</label>
    <input
      formControlName="imageUrl"
      type="url"
      id="imageUrl"
      name="imageUrl"
      class="form__input"
      required
    />
    @if (form.get('imageUrl')?.invalid && form.get('imageUrl')?.touched) {
    <small class="form__error">Url is required and must be valid.</small>
    }
  </div>

  <div class="form__group">
    <label for="category" class="form__label">Category:</label>
    <select
      formControlName="category"
      id="category"
      name="category"
      class="form__select"
      required
    >
      <option value="" disabled selected>Select a category</option>
      @for (category of categories; track category.id) {
      <option [value]="category.id">{{ category.name }}</option>
      }
    </select>
    @if (form.get('category')?.invalid && form.get('category')?.touched) {
    <small class="form__error">Categoria is required and must be valid.</small>
    }
  </div>

  <button type="submit" class="button button--primary">Submit</button>
</form>
